.post{
    margin-bottom:15px;
    h1{
        margin-bottom:20px;
    }
    h2{
        margin-top:15px;
        line-height: 1.5;
    }
    h2.description{
        margin-top:0;
    }
    &__img{
        width:50%;
        float: left;
        margin-right:15px;
        margin-bottom: 5px;;
    }
    p{
        font-size: 18px;
        line-height: 1.5;
        font-weight: normal;
    }
    ul li{
        font-size: 18px;
        line-height: 1.5;
        font-weight: normal; 
        position: relative;
        padding-left: 40px;
        &:before{
            position: absolute;
            content:"";
            left:20px;
            top:10px;
            width:8px;
            height:8px;
            background-color: $brandColorDark;
        }
    }
    ol li{
        font-size: 18px;
        line-height: 1.5;
        font-weight: normal; 
    }
    h3{
        font-weight: normal;
        margin-bottom: 5px;;
    }
    .postContent{
        a{
            color:blue;
            font-size: 21px;
            text-decoration: revert;
        }
    }
    blockquote{
        font-size: 18px;
        line-height: 1.5;
        font-weight: normal; 
        margin-left:30px;
        font-style: italic;
    }
}
