$brandColorlight: #4ec848;
$brandColorDark: #113924;
$brandColorWhite: #99ca99;
$brandColorBackground: #f9fff9;
$brandDarkText: #222222;
$brandLightText: #eeeeee;
$Helvetica: Helvetica;
@font-face {
  font-family: Helvetica; /* Имя шрифта */
  src: url(/../assets/fonts/helvetica.woff) format("woff");
  src: url(/../assets/fonts/helvetica.ttf) format("truetype");
  src: url(/../assets/fonts/helvetica.eot) format("eot");
  font-weight: normal;
  font-style: normal;
}